<h1>New Question</h1>

 <div class="row">
   <div class="col-md-4">
     <h6>Rule #1:</h6>
    <h3>Don't ask dumb questions</h3>
   </div>
   <div class="col-md-8">
     <%= form_for @questions do |que| %>
       <div class="form-group">
         <%= que.label :title %>
         <%= que.text_field :title, class: 'form-control', placeholder: "Enter question title" %>
       </div>
       <div class="form-group">
         <%= que.label :body %>
         <%= que.text_area :body, rows: 5, class: 'form-control', placeholder: "Enter question body" %>
       </div>
       <div class="form-group">
         <%= que.label :resolved %>
         <%= que.check_box :resolved%>
       </div>

       <div class="form-group">

         <%= que.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>
